.todoList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.todoList div {
  text-align: start;
  width: 45%;
}

.todoList input {
  text-align: start;
  width: 45%;
}

.header div {
  font-weight: bold;
}